/.idea/
.vs/

bin/
obj/
grafana-data/data/
data/   


[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad

# Ignore .terraform directory in terraform/digital_ocean
terraform/digital_ocean/.terraform/

# Ignore .tfstate, .hcl, .tfstate.backup, and .tfvars files in terraform/digital_ocean
terraform/digital_ocean/*.tfstate
terraform/digital_ocean/*.hcl
terraform/digital_ocean/*.tfstate.backup
terraform/digital_ocean/*.tfvars